## Initial Imports

In [1]:
# ONLY RUN THIS ONCE

%load_ext autoreload
%autoreload 2

import os
os.chdir(os.path.dirname(os.getcwd()))
!pwd

/home/omer/code/mareksherman/classipy

## Imports

In [2]:
import numpy as np
import pandas as pd

from datagen.data import Data
from datagen.kaggle_data import KaggleDataset

## Kaggle Class

In [ ]:
# from kaggle.api.kaggle_api_extended import KaggleApi
# import pandas as pd
# import glob
# import os
# import shutil


# class KaggleDataset(Data):
#     def __init__(self, n_datasets) -> None:
#         self.n_datasets = n_datasets
#         self.dataset_names = []
#         self.api = KaggleApi()
#         self.api.authenticate()
#         pass

#     def get_data_set_names(self):
#         dataset_names = []
#         page = 4
#         dataset_num = 0
#         while dataset_num < self.n_datasets:
#             try:
#                 resp = self.api.datasets_list(
#                     page=page, 
#                     filetype="csv", 
#                     max_size=25_000_000
#                 )
                
#                 for i in range(20):  # TODO FIX THIS
#                     dataset_names.append(
#                         (resp[i]["id"], resp[i]["ref"], resp[i]["totalBytes"])
#                     )
#                     dataset_num +=1
#                     if dataset_num >= self.n_datasets:
#                         break
#                 page += 1

#             except IndexError as e:
#                 break

#         self.data_set_names = pd.DataFrame(
#             dataset_names,
#             columns=["id", "ref", "size"],
#         )
#         self.data_set_names.to_csv("../raw_data/name_data_sets.csv")

#     def download_data_sets(self):
#         all_dataframes = []
#         for dataset_name in self.data_set_names["ref"]:
#             self.api.dataset_download_files(
#                 dataset_name, "../raw_data/temp_datasets/", unzip=True
#             )
            
#             dataset_file_names = self.read_filenames()
#             dataset_dataframes = self.read_data_frame(dataset_file_names, dataset_name)  # CUSTOM FUNCTION
#             all_dataframes += dataset_dataframes
#             print('Clean-up | ', dataset_name)
#             self.clean_tempfolder()

#         df_all = pd.concat(all_dataframes, axis=0).reset_index(drop=True)
#         df_all.to_csv("../raw_data/data.csv")

#     def read_filenames(self):
#         return [
#             name 
#             for name in 
#             glob.glob("../raw_data/temp_datasets/**/*.csv", recursive=True)] 

#     def clean_tempfolder(self):
#         for file in glob.glob("../raw_data/temp_datasets/*"):
#                 try:
#                     os.remove(file)
#                 except OSError:
#                     shutil.rmtree(file,ignore_errors=True)

#     def read_data_frame(self, file_names, dataset_name):
#         count_passes = 0
#         data_frames = []
#         for file_name in file_names:
#             try:
#                 df = pd.read_csv(file_name)               
#                 d = Data(df=df, dataset_name=dataset_name, table_name=file_name)
#                 df_calc = d.get_dataframe()
#             except Exception as e:
#                 count_passes += 1
#                 print('ERROR: SKIPPING CSV', e)
#                 df_calc = pd.DataFrame()

#             finally:
#                 data_frames.append(df_calc)

#         return data_frames


# # def encoding_det(file):
# #     rawdata = open(file, "r").read()
# #     result = chardet.detect(rawdata)
# #     charenc = result["encoding"]
# #     print(charenc)

## Testing

In [5]:
dataset_names = pd.read_csv('raw_data/name_data_sets.csv')

In [ ]:
k = KaggleDataset(datset_names=dataset_names)
k.download_datasets()

### Testing File Opening

In [46]:
test_df = pd.read_csv('raw_data/kaggle_data_15k.csv')
print(test_df.shape)
test_df;

(15026, 14)

In [47]:
labeled_df = pd.read_csv('raw_data/kaggle_data_labeled_1000.csv',index_col=0)
labeled_df = labeled_df.sort_index().reset_index(drop=True)

In [48]:
test_df.columns

Index(['dataset_name', 'table_name', 'column_name', 'label', 'column_values',
       'column_values_unique', 'nunique_values', 'n_values', 'mean', 'std',
       'median', 'skew', 'kurt', 'shapiro_wilk_test'],
      dtype='object')

In [63]:
test_df.drop(columns='label')

,dataset_name,table_name,column_name,column_values,column_values_unique,nunique_values,n_values,mean,std,median,skew,kurt,shapiro_wilk_test
0,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,age,"['63, 37, 41, 56, 57, 57, 56, 44, 52, 57, 54, ...",[63 37 41 56 57 44 52 54 48 49 64 58 50 66 43 ...,41,303,54.366337,9.082101,55.0,-0.202463,-0.542167,5.800190e-03
1,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,sex,"['1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,...",[1 0],2,303,0.683168,0.466011,1.0,-0.791335,-1.382961,2.750313e-26
2,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,cp,"['3, 2, 1, 1, 0, 0, 1, 1, 2, 2, 0, 2, 1, 3, 3,...",[3 2 1 0],4,303,0.966997,1.032052,1.0,0.484732,-1.193071,1.857026e-19
3,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,trestbps,"['145, 130, 130, 120, 120, 140, 140, 120, 172,...",[145 130 120 140 172 150 110 135 160 105 125 1...,49,303,131.623762,17.538143,130.0,0.713768,0.929054,1.458000e-06
4,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,chol,"['233, 250, 204, 236, 354, 192, 294, 263, 199,...",[233 250 204 236 354 192 294 263 199 168 239 2...,152,303,246.264026,51.830751,240.0,1.143401,4.505423,5.364669e-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15021,divyansh22/flight-delay-prediction,Jan_2019_ontime.csv,ARR_DEL15,"['0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0,...",[ 0. 1. nan],2,1000,0.174587,0.379810,0.0,1.717108,0.950419,1.000000e+00
15022,divyansh22/flight-delay-prediction,Jan_2019_ontime.csv,CANCELLED,"['0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",[0. 1.],2,1000,0.027000,0.162164,0.0,5.845276,32.231713,0.000000e+00
15023,divyansh22/flight-delay-prediction,Jan_2019_ontime.csv,DIVERTED,"['0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",[0. 1.],2,1000,0.003000,0.054717,0.0,18.202472,329.989978,0.000000e+00
15024,divyansh22/flight-delay-prediction,Jan_2019_ontime.csv,DISTANCE,"['1703.0, 919.0, 239.0, 223.0, 919.0, 900.0, 1...",[1703. 919. 239. 223. 900. 106. 1065. 64...,544,1000,756.241000,515.649005,629.0,1.397325,2.043508,6.665394e-27
15025,divyansh22/flight-delay-prediction,Jan_2019_ontime.csv,Unnamed: 21,"['nan, nan, nan, nan, nan, nan, nan, nan, nan,...",[nan],0,1000,NaN,NaN,NaN,NaN,NaN,1.000000e+00

In [69]:
test_df = pd.read_csv('raw_data/kaggle_data_15k.csv')
labeled_df = pd.read_csv('raw_data/kaggle_data_labeled_1000.csv',index_col=0)
labeled_df = labeled_df.sort_index().reset_index(drop=True)

cols_to_merge_on= ['dataset_name','table_name','column_name']
cols_from_labeled = ['dataset_name', 'table_name', 'column_name', 'label']

df_amended = pd.merge(labeled_df[cols_from_labeled],test_df.drop(columns='label'), how='left', on=cols_to_merge_on)
df_amended

,dataset_name,table_name,column_name,label,column_values,column_values_unique,nunique_values,n_values,mean,std,median,skew,kurt,shapiro_wilk_test
0,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,thalach,int,"['150, 187, 172, 178, 163, 148, 153, 173, 162,...",[150 187 172 178 163 148 153 173 162 174 160 1...,91.0,303.0,1.496469e+02,2.290516e+01,1.530000e+02,-0.537410,-0.061970,6.620309e-05
1,kimjihoo/coronavirusdataset,SearchTrend.csv,coronavirus,float,"['0.00736, 0.00436, 0.00927, 0.01181, 0.00563,...",[7.360000e-03 4.360000e-03 9.270000e-03 1.1810...,326.0,1000.0,2.090660e+00,1.001056e+01,8.810000e-03,6.305825,42.379589,0.000000e+00
2,kimjihoo/coronavirusdataset,Weather.csv,province,cat-multi,"['Daegu, Chungcheongbuk-do, Incheon, Ulsan, Bu...",['Daegu' 'Chungcheongbuk-do' 'Incheon' 'Ulsan'...,16.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
3,kimjihoo/coronavirusdataset,PatientInfo.csv,age,cat-multi,"['50s, 30s, 40s, nan, nan, 10s, 20s, 20s, 50s,...",['50s' '30s' '40s' nan '10s' '20s' '70s' '80s'...,10.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
4,kimjihoo/coronavirusdataset,Policy.csv,policy_id,int,"['1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1...",[ 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 ...,61.0,61.0,3.100000e+01,1.775293e+01,3.100000e+01,0.000000,-1.200000,2.565956e-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,srikantsahu/co2-and-ghg-emission-data,emission data.csv,1930,int,"['0.0, 676374400.0, 0.0, 534944.0, 3759960160....",[0.00000000e+00 6.76374400e+08 5.34944000e+05 ...,68.0,231.0,1.568471e+09,1.111207e+10,0.000000e+00,10.089767,113.640219,2.551079e-31
996,srikantsahu/co2-and-ghg-emission-data,emission data.csv,1976,float,"['23279471.0, 7504779055.0, 72279728.0, 329291...",[2.32794710e+07 7.50477906e+09 7.22797280e+07 ...,211.0,231.0,5.750457e+09,3.878276e+10,4.576794e+07,11.359356,144.114059,2.756270e-31
997,srikantsahu/co2-and-ghg-emission-data,emission data.csv,1988,float,"['53838190.0, 14568340496.0, 157995344.0, 1070...",[5.38381900e+07 1.45683405e+10 1.57995344e+08 ...,216.0,231.0,8.428223e+09,5.515562e+10,1.039153e+08,11.692444,152.604508,3.060124e-31
998,divyansh22/flight-delay-prediction,Jan_2020_ontime.csv,DAY_OF_MONTH,cat-multi,"['7, 25, 31, 1, 23, 6, 21, 18, 15, 13, 5, 17, ...",[ 7 25 31 1 23 6 21 18 15 13 5 17 8 2 12 ...,31.0,1000.0,1.605300e+01,9.224819e+00,1.600000e+01,0.017678,-1.264345,6.310727e-19
999,divyansh22/flight-delay-prediction,Jan_2019_ontime.csv,DAY_OF_MONTH,int,"['31, 19, 8, 27, 4, 17, 17, 17, 18, 23, 14, 1,...",[31 19 8 27 4 17 18 23 14 1 7 21 5 26 24 ...,31.0,1000.0,1.616600e+01,8.924690e+00,1.700000e+01,-0.024326,-1.193707,2.194325e-17

In [70]:
df_amended.to_csv('raw_data/kaggle_data_1000_new.csv', index=False)

In [73]:
pd.read_csv('raw_data/kaggle_data_15k.csv')

,dataset_name,table_name,column_name,label,column_values,column_values_unique,nunique_values,n_values,mean,std,median,skew,kurt,shapiro_wilk_test
0,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,age,NaN,"['63, 37, 41, 56, 57, 57, 56, 44, 52, 57, 54, ...",[63 37 41 56 57 44 52 54 48 49 64 58 50 66 43 ...,41,303,54.366337,9.082101,55.0,-0.202463,-0.542167,5.800190e-03
1,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,sex,NaN,"['1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,...",[1 0],2,303,0.683168,0.466011,1.0,-0.791335,-1.382961,2.750313e-26
2,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,cp,NaN,"['3, 2, 1, 1, 0, 0, 1, 1, 2, 2, 0, 2, 1, 3, 3,...",[3 2 1 0],4,303,0.966997,1.032052,1.0,0.484732,-1.193071,1.857026e-19
3,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,trestbps,NaN,"['145, 130, 130, 120, 120, 140, 140, 120, 172,...",[145 130 120 140 172 150 110 135 160 105 125 1...,49,303,131.623762,17.538143,130.0,0.713768,0.929054,1.458000e-06
4,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,chol,NaN,"['233, 250, 204, 236, 354, 192, 294, 263, 199,...",[233 250 204 236 354 192 294 263 199 168 239 2...,152,303,246.264026,51.830751,240.0,1.143401,4.505423,5.364669e-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15021,divyansh22/flight-delay-prediction,Jan_2019_ontime.csv,ARR_DEL15,NaN,"['0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0,...",[ 0. 1. nan],2,1000,0.174587,0.379810,0.0,1.717108,0.950419,1.000000e+00
15022,divyansh22/flight-delay-prediction,Jan_2019_ontime.csv,CANCELLED,NaN,"['0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",[0. 1.],2,1000,0.027000,0.162164,0.0,5.845276,32.231713,0.000000e+00
15023,divyansh22/flight-delay-prediction,Jan_2019_ontime.csv,DIVERTED,NaN,"['0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",[0. 1.],2,1000,0.003000,0.054717,0.0,18.202472,329.989978,0.000000e+00
15024,divyansh22/flight-delay-prediction,Jan_2019_ontime.csv,DISTANCE,NaN,"['1703.0, 919.0, 239.0, 223.0, 919.0, 900.0, 1...",[1703. 919. 239. 223. 900. 106. 1065. 64...,544,1000,756.241000,515.649005,629.0,1.397325,2.043508,6.665394e-27
15025,divyansh22/flight-delay-prediction,Jan_2019_ontime.csv,Unnamed: 21,NaN,"['nan, nan, nan, nan, nan, nan, nan, nan, nan,...",[nan],0,1000,NaN,NaN,NaN,NaN,NaN,1.000000e+00