In [1]:
%load_ext autoreload 
%autoreload 2

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import shapiro

In [23]:
# User CSV
df = pd.read_csv('sample_data/california_housing_train.csv')
df.head(3)

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0

[3 rows x 9 columns]

In [24]:
class Data:
    def __init__(self, n_samples = 1000):
        self.n_samples = n_samples
        pass
        
    def get_dataframe(self, df, dataset_name, table_name):
        print(f'Processing DataFrame: {dataset_name} {table_name}')
        df_rows = [
            self.get_row(df[col_name], dataset_name, table_name) for col_name in df
        ]
        return pd.concat(df_rows, axis=0).reset_index(drop=True)

    def get_row(self, column, dataset_name, table_name):
        try:
            col = column.sample(self.n_samples)
        except ValueError:
            col = column

        features = {
            "dataset_name": [dataset_name],
            "table_name": [table_name],
            "column_name": [column.name],
            "label": [np.nan],
        }

        feature_functions = {
            "column_values": lambda x: ", ".join(map(str, x.tolist())),
            "column_values_unique": lambda x: x.unique(),
            "n_unique_values": lambda x: x.nunique(),
            "unique_value_counts": lambda x: x.value_counts(),
            'n_values': lambda x: x.shape[0],
            "mean": lambda x: x.mean(),
            "std": lambda x: x.std(),
            "median": lambda x: x.median(),
            "skew": lambda x: x.skew(),
            "kurt": lambda x: x.kurt(),
            "shapiro_wilk_test": lambda x: shapiro(x)[1],
        }

        for col_name, fn in feature_functions.items():
            try:
                val = fn(col)
            except (ValueError, TypeError):
                val = np.nan
            except Exception as e:  # DEBUGGING TYPES OF ERRORS
                val = np.nan
                print(features['column_name'], col_name, 'Exception:', type(e))

            features[col_name] = [val]

        return pd.DataFrame.from_dict(features)

In [29]:
df_transformed = Data().get_dataframe(df=df, dataset_name='sample_data', table_name='california_housing_train')
df_transformed

Processing DataFrame: sample_data california_housing_train

  dataset_name                table_name  ...       kurt  shapiro_wilk_test
0  sample_data  california_housing_train  ...  -1.365533       4.835621e-25
1  sample_data  california_housing_train  ...  -1.113007       3.837301e-27
2  sample_data  california_housing_train  ...  -0.740075       1.271147e-10
3  sample_data  california_housing_train  ...  29.059948       8.305118e-39
4  sample_data  california_housing_train  ...  26.136141       2.902217e-39
5  sample_data  california_housing_train  ...  14.446499       5.586440e-36
6  sample_data  california_housing_train  ...  16.260029       2.233937e-36
7  sample_data  california_housing_train  ...   4.306822       1.838925e-26
8  sample_data  california_housing_train  ...   0.111373       1.327198e-22

[9 rows x 15 columns]

In [30]:
def to_json(df):
    return df.to_json()

In [31]:
df_json = to_json(df_transformed)

In [32]:
pd.read_json(df_json)

  dataset_name                table_name  ...       kurt  shapiro_wilk_test
0  sample_data  california_housing_train  ...  -1.365533       4.835621e-25
1  sample_data  california_housing_train  ...  -1.113007       3.837301e-27
2  sample_data  california_housing_train  ...  -0.740075       1.000000e-10
3  sample_data  california_housing_train  ...  29.059948       8.305118e-39
4  sample_data  california_housing_train  ...  26.136141       2.902217e-39
5  sample_data  california_housing_train  ...  14.446499       5.586440e-36
6  sample_data  california_housing_train  ...  16.260029       2.233937e-36
7  sample_data  california_housing_train  ...   4.306822       1.838925e-26
8  sample_data  california_housing_train  ...   0.111373       1.327198e-22

[9 rows x 15 columns]

#### FRONT END
-----
- CSV IN 
- Transform to Model features
- Convert to JSON



#### BACKEND
 ----
- Send to API (SERVER)
- Get Predictions on server
- Return Predictions

1. CSV IN
2. Get column type predictions (labels)

---
3. Allow user to select columns to keep/drop
4. Allow user to overwrite data type predictions
5. Allow user to select type of imputing
6. Allow user to select type of encoding

---
7. Return Ready to go CSV