In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('../raw_data/data.csv')

In [6]:
df

,Unnamed: 0,dataset_name,table_name,column_name,column_values,column_values_unique,nunique_values,mean,std,median,skew,kurt,shapiro_wilk_test,label
0,0,nareshbhat/health-care-data-set-on-heart-attac...,../raw_data/temp_datasets/heart.csv,age,"63, 37, 41, 56, 57, 57, 56, 44, 52, 57, 54, 48...",[63 37 41 56 57 44 52 54 48 49 64 58 50 66 43 ...,41,54.366337,9.082101,55.0,-0.202463,-0.542167,5.800190e-03,NaN
1,1,nareshbhat/health-care-data-set-on-heart-attac...,../raw_data/temp_datasets/heart.csv,sex,"1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0...",[1 0],2,0.683168,0.466011,1.0,-0.791335,-1.382961,2.750313e-26,NaN
2,2,nareshbhat/health-care-data-set-on-heart-attac...,../raw_data/temp_datasets/heart.csv,cp,"3, 2, 1, 1, 0, 0, 1, 1, 2, 2, 0, 2, 1, 3, 3, 2...",[3 2 1 0],4,0.966997,1.032052,1.0,0.484732,-1.193071,1.857026e-19,NaN
3,3,nareshbhat/health-care-data-set-on-heart-attac...,../raw_data/temp_datasets/heart.csv,trestbps,"145, 130, 130, 120, 120, 140, 140, 120, 172, 1...",[145 130 120 140 172 150 110 135 160 105 125 1...,49,131.623762,17.538143,130.0,0.713768,0.929054,1.458000e-06,NaN
4,4,nareshbhat/health-care-data-set-on-heart-attac...,../raw_data/temp_datasets/heart.csv,chol,"233, 250, 204, 236, 354, 192, 294, 263, 199, 1...",[233 250 204 236 354 192 294 263 199 168 239 2...,152,246.264026,51.830751,240.0,1.143401,4.505423,5.364669e-09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,13,uciml/zoo-animal-classification,../raw_data/temp_datasets/zoo.csv,legs,"4, 4, 0, 4, 4, 4, 4, 0, 0, 4, 4, 2, 0, 0, 4, 6...",[4 0 2 6 8 5],6,2.841584,2.033385,4.0,0.139427,-0.598630,3.900047e-07,NaN
207,14,uciml/zoo-animal-classification,../raw_data/temp_datasets/zoo.csv,tail,"0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0...",[0 1],2,0.742574,0.439397,1.0,-1.126430,-0.746333,3.535651e-16,NaN
208,15,uciml/zoo-animal-classification,../raw_data/temp_datasets/zoo.csv,domestic,"0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0...",[0 1],2,0.128713,0.336552,0.0,2.250991,3.128527,1.593908e-18,NaN
209,16,uciml/zoo-animal-classification,../raw_data/temp_datasets/zoo.csv,catsize,"1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0...",[1 0],2,0.435644,0.498314,0.0,0.263515,-1.969973,1.415560e-14,NaN
210,17,uciml/zoo-animal-classification,../raw_data/temp_datasets/zoo.csv,class_type,"1, 1, 4, 1, 1, 1, 1, 4, 4, 1, 1, 2, 4, 7, 7, 7...",[1 4 2 7 6 5 3],7,2.831683,2.102709,2.0,0.852362,-0.697422,2.140211e-10,NaN

In [ ]:
            #if self.n_datasets > 20:
            #    pages = int(self.n_datasets/20)
            #    datasets = (self.n_datasets % 20)
            #    print(pages,datasets)
            #else:
            #    datasets = self.n_datasets