In [2]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('../raw_data/kaggle_data.csv')

In [19]:
df.head()

,dataset_name,table_name,column_name,label,column_values,column_values_unique,nunique_values,mean,std,median,skew,kurt,shapiro_wilk_test
0,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,age,NaN,"['63, 37, 41, 56, 57, 57, 56, 44, 52, 57, 54, ...",[63 37 41 56 57 44 52 54 48 49 64 58 50 66 43 ...,41,54.366337,9.082101,55.0,-0.202463,-0.542167,5.800190e-03
1,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,sex,NaN,"['1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,...",[1 0],2,0.683168,0.466011,1.0,-0.791335,-1.382961,2.750313e-26
2,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,cp,NaN,"['3, 2, 1, 1, 0, 0, 1, 1, 2, 2, 0, 2, 1, 3, 3,...",[3 2 1 0],4,0.966997,1.032052,1.0,0.484732,-1.193071,1.857026e-19
3,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,trestbps,NaN,"['145, 130, 130, 120, 120, 140, 140, 120, 172,...",[145 130 120 140 172 150 110 135 160 105 125 1...,49,131.623762,17.538143,130.0,0.713768,0.929054,1.458000e-06
4,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,chol,NaN,"['233, 250, 204, 236, 354, 192, 294, 263, 199,...",[233 250 204 236 354 192 294 263 199 168 239 2...,152,246.264026,51.830751,240.0,1.143401,4.505423,5.364669e-09

In [12]:
object_df = df[df['column_values'].str.contains('e')]

In [15]:
output_df = object_df[df['dataset_name'].str.contains('antgoldbloom') == False]

/var/folders/yn/qzk0b4790t133q4qjttr2ykw0000gn/T/ipykernel_31102/4215627063.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  output_df = object_df[df['dataset_name'].str.contains('antgoldbloom') == False]

In [16]:
output_df.to_csv('../raw_data/objects_kaggle_data.csv')